<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>01_GenericServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>GenericServletTest</servlet-name>
  	<servlet-class>servlet.generic.GenericServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GenericServletTest</servlet-name>
  	<url-pattern>/gst</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>WordServlet</servlet-name>
  	<servlet-class>servlet.http.WordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>WordServlet</servlet-name>
  <url-pattern>/word</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>FormServlet</servlet-name>
  <servlet-class>servlet.http.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>FormServlet</servlet-name>
  <url-pattern>/fs</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LifecycleServlet</servlet-name>
  	<servlet-class>servlet.life.LifecycleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LifecycleServlet</servlet-name>
  	<url-pattern>/life</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ConfigServlet</servlet-name>
  	<servlet-class>servlet.life.ConfigServlet</servlet-class>
  	<init-param>
  		<param-name>name</param-name>
  		<param-value>김유저</param-value>
  	</init-param>
  	<init-param>
  		<param-name>addr</param-name>
  		<param-value>서울</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name>ConfigServlet</servlet-name>
  <url-pattern>/config</url-pattern>
  </servlet-mapping>
</web-app>






